.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-content: space-around;
  align-items: center;
  height: 293px;
}

.header__links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  padding-left: 30px;
  gap: 8px;
  list-style: circle;
  text-indent: 6px;
}

.header__links-list-item {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  padding-right: 20px;
}

.header__links-list-item.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__logo-image {
  display: block;
  margin: auto;
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 186px;
  padding-top: 2px;
}

.address {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: 0.18px;
}

.cover {
  position: relative;
  background-image: url(/images/cover.jpg);
  min-height: 757px;
  background-repeat: no-repeat; 
}

.cover__title {
  color: #fff;
  font-family: Raleway, serif;
  font-size: 100px;
  text-transform: uppercase;
  padding: 165px 50px 237px 50px;
  position: relative;
  letter-spacing: 30px;
  z-index: 1;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  padding-bottom: px;
}

.letter-spacing-default {
  letter-spacing: 6px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.lots {
  padding: 179px 24px 0 24px;
}

.lots__heading {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
  padding-bottom: 30px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 563px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 563px;
}

.card_type_film {
  background: url(/images/card-lot-01.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  
}

.card_type_book {
  background: url(/images/card-lot-02.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  background: url(/images/card-lot-03.jpg);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.card__title {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 51px 40px 0 40px;
  text-decoration: underline;
  z-index: 1;
}

.card__text {
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  padding: 0 40px 48px 40px;
  position: relative;
  z-index: 1;
}

.lots__look-more-link {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  padding-left: 40px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
